<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/index.css" type="text/css">
    <title>Pokedex</title>
</head>

<body>
    
    <header>
    <h1>Pokedex</h1>
</header>
   <section>
    <h2>Pokemons da Primeira Geração:</h2>
   </section>
    <main>
        <% pokedex.forEach(element=> { %>
          <a href="/detalhe/<%= element.id %>">
            <div class="card-container">
                <div class="header-card">
                    <span class="card-id">Id: <%= element.id %></span>
                    <span class="card-number">Num <%= element.num %></span>
                </div>
                <div class="card-main">
                    <img src="<%= element.img %>" alt="<%= element.name %>">
                    <div class="card-name"> <%= element.name %></div>
                    <div class="data-class">
                        <span class="width"> <%= element.weight %></span><br>
                        <span class="height"><%= element.height %></span>
                    </div>
                </div>
                <div class="footer-card">Tipo: <%= element.type %></div>
            </div>
         </a>
        <% }) %>
    </main>
  <footer>
      <p> <a href="https://github.com/Lazaroenrico">GitHub</a></p>
  </footer>
</body>

</html>